name: Run Python Script
on: [push, workflow_dispatch]
jobs:
  run-code:
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Execute Script
      run: python main.py
